@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  width: 100%;
}

.nav,
.cart-nav {
  width: 100%;
  top: 0;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo-img {
  max-width: 15vw;
  cursor: pointer;
  color: black;
}

.icon {
  font-size: 1.1rem;
  cursor: pointer;
  color: black;
}

.icon-magnifier {
  font-size: 1.1rem;
  margin-left: 1em;
  cursor: pointer;
}

.icon:hover,
.icon-magnifier:hover {
  transform: scale(1.1);
}

.container {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.brands {
  width: 20%;
}
.catalog {
  width: 80%;
}

.catalog h1 {
  text-align: left;
  font-size: 1rem;
}

.brands-list {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.brands-par {
  text-align: left;
  cursor: pointer;
}

.brand {
  list-style: none;
  text-align: left;
  cursor: pointer;
  margin-top: 1em;
}
.brand:hover,
.brands-par:hover {
  color: darkgray;
  transition: 0.3s;
}

.item {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.5rem;
  width: 40%;
  height: fit-content;
  margin: 0 1em;
}

.item-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1.5em 0;
}

.item-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-title {
  font-size: 0.9rem;
}

.item-brand,
.item-price {
  font-size: 0.7rem;
}

.item-price {
  display: flex;
  align-items: center;
}

.item-currency {
  margin-right: 0.2em;
}

.add-btn {
  border: none;
  padding: 0.1em 0.3em;
  border-radius: 5px;
  background: black;
  color: white;
  margin-left: 0.2em;
  cursor: pointer;
}

.add-btn:hover {
  transform: scale(1.2);
}

.added {
  background: green;
  color: white;
}

.cartLink {
  text-decoration: none;
}
.items-qwt {
  font-size: 0.7rem;
  position: absolute;
  color: darkgreen;
}

.catalog-link {
  text-decoration: none;
  color: black;
}
.catalog-link:hover {
  color: darkgray;
}

.cart-main-text {
  margin: 1em;
  font-weight: 400;
}

.cart-descr {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
  font-weight: bold;
}

.item-descr {
  margin-left: 1em;
  width: 30%;
}

.total-descr {
  margin-right: 6em;
}

.cart-qwt {
  position: absolute;
  top: 2.8em;
  right: 0.6em;
  font-size: 0.6rem;
  color: white;
  background: gray;
  padding: 0.05em 0.45em;
  border-radius: 10px;
}

.cart-item-qwt {
  margin: 0 0.5em;
}

.cart-item {
  padding: 1em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.cart-qwt-control {
  display: flex;
  align-items: center;
}

.cart-empty {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.qwt-btns {
  display: flex;
  align-items: center;
}

.increment-btn,
.decrement-btn {
  border: none;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  height: 1em;
}

.increment-btn:hover,
.decrement-btn:hover {
  transform: scale(1.1);
}

.cart-item-quality-description {
  display: flex;
  width: 30%;
}

.cart-item-description {
  padding: 0 1em;
  font-size: 0.8rem;
  width: 100%;
}

.cart-item-commercial-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 46%;
}

.delete-btn {
  border: none;
  background: transparent;
  margin-right: 0.5em;
  cursor: pointer;
  font-size: 1rem;
}

.delete-btn:hover {
  color: darkred;
}

.menu {
  /* border: 1px solid black; */
  width: 100%;
  height: 100vh;
  justify-content: left;
  /* align-items: center; */
  display: flex;
  padding: 1em;
  position: absolute;
  background: white;
  left: -150vh;
  transition: 0.3s;
}

.menu-active {
  top: 80px;
  left: 0;
}

.menu-items {
  list-style: none;
  cursor: pointer;
}

.menu-item {
  margin-top: 1em;
}

.menu-item:hover {
  transform: scale(1.2);
}

form {
  padding: 3em;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.form-text {
  width: 20em;
  font-size: 0.8rem;
  padding: 0.4em 0;
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: 1em;
}

input {
  outline: none;
}

.form-btn {
  width: 19.5em;
  padding: 0.4em 0;
  background: transparent;
  border: 1px solid gray;
  background: black;
  color: white;
  cursor: pointer;
}

.icon-form {
  position: absolute;
  top: 0em;
  right: 3em;
}

.form-cont {
  top: -150vh;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  transition: 0.3s;
}

.form-active {
  top: 80px;
}

/* footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: darkgray;
  height: 80px;
  bottom: 0;
  position: absolute;
  width: 100%;
} */

@media screen and (max-width: 500px) {
  * {
    font-size: 0.8rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .cart-qwt {
    top: 3.8em;
    right: 0.4em;
  }

  .icon {
    font-size: 1.3rem;
  }
  .cart-item-commercial-description {
    width: 60%;
  }
}
